
.grad {
	display: block;
	width: 270px;
  height: 160px;
  margin-top:20px;
}

.linear{
background-image: linear-gradient(-32deg, #ff6d00 15%, #ffff00 50%, #ff6e02 87%);
    
}

.radius{
    background: radial-gradient(circle, #2c0b58 2%, #ff7c00 55%);
}
.change_size{
    background-color: green;
    transition: transform 0.5s linear 0s;
}

.change_size:hover{
    transform: scale(2);
    transition: transform 0.5s linear 0s;
}

#wrapper{
	transform-style: preserve-3d;
	transform: perspective(1000px);
	transition: 2.5s;
	width: 250px;
	height: 100px;
}

#wrapper:hover{
	transform: rotateY(180deg);
}

.sizes{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font: 30px Arial;
	color: white;
}

.front{
	background-color: red;
	backface-visibility: hidden;
}

.back{
	backface-visibility:hidden;
	background-color: green;
	transform: rotateY(180deg);
}



